@model MunicipalityValuations.Models.Municipality
@{
    ViewBag.Title = "ViewMunicipalityValuations";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-xs-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Municipality Valuaions</h2>
                        <small>Municipality details</small>
                        <ul class="todo-list m-t ui-sortable">
                            <li>
                                <span class="m-l-xs">Municipality Name</span>
                                <span class="label label-primary" style="font-size: 15px;">@Model.Name</span>
                            </li>
                            <li>
                                <span class="m-l-xs">Municipality ID</span>
                                <span class="label label-primary" style="font-size: 15px;">@Model.MunicipalityIdentificationNumber</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary btn-lg" data-target="#ValuationModal" data-toggle="modal">Add Valuation
            </a>
        </div>
    </div>
   
    <div class="row">
        <div class="col-xs-12" >
            @if (Model.Valuations.Count > 0)
            {
                <table class="table table-striped responsive" id="MunicipalityValuationDataTable">
                    <thead>
                    <tr>
                        <th>Period</th>
                        <th>Rates Period</th>
                        <th>Lastest GV Date</th>
                        <th>VR on File</th>
                        <th>Rates</th>
                        <th>Usage</th>
                        <th>Complited</th>
                        <th>Supplimentary</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var val in Model.Valuations)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => val.Period)</td>
                            <td>@Html.DisplayFor(m=> val.RatesPeriod)</td>
                            <td>@Html.DisplayFor(m=> val.LatestGvDate)</td>
                            <td>@Html.DisplayFor(m => val.VrOnFile)</td>
                            <td>@Html.DisplayFor(m => val.Rates)</td>
                            <td>@Html.DisplayFor(m => val.Usage)</td>
                            <td>@Html.DisplayFor(m => val.Complited)</td>
                            <td>@Html.DisplayFor(m=>val.Supplimentary)</td>
                            <td>@Html.ActionLink("Edit", "EditValuation", new {id = val.MunicipalityValuationId}, new {@class = "edit"})</td>
                           @* <td><a href="#" id="editValuation" data-valuationId="@val.MunicipalityValuationId" data-municipalityId ="@val.MunicipalityId" data-target="#ValuationModal" data-toggle="modal" >Edit</a></td>*@
                            @*<td>@Html.ActionLink("Delete", "DeleteMunicipalityValuations", new { id = val.MunicipalityValuationId },new {@class="DeleteValuation",@id=val.MunicipalityValuationId})</td>*@
                            <td><a href="#" id="deleteValuation" data-valuationId="@val.MunicipalityValuationId" data-municipalityId ="@val.MunicipalityId">Delete</a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <div class="warning p-m">
                    <p class="text-warning m-l-xs" style="font-size: 15px">No Valuations</p>
                </div>
            }
        </div>
    </div>
    
    @Html.Partial("_AddValuation", new ViewDataDictionary { { "municipalityId", Model.MunicipalityId } })
</div>